meta-api:
  data-directory: ${DATA_DIR:./data}
  minecraft-metadata-polling:
    enabled: true
    cron: "0 */5 * * * *"  # Every 5 minutes
  minecraft-launcher-meta-url: https://piston-meta.mojang.com/mc/game/version_manifest_v2.json

spring:
  application:
    name: meta-api

  datasource:
    url: jdbc:sqlite:${meta-api.data-directory}/meta-api.db
    driver-class-name: org.sqlite.JDBC

  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,scheduledtasks
