openapi: 3.1.0
info:
  title: NeoForge Meta API v1
  description: NeoForge Meta API v1
  version: 1.0.0
servers:
  - url: 'https://meta-api.prod.k8s.neoforged.net/v1'
paths:
  /minecraft-versions/:
    get:
      operationId: getMinecraftVersions
      description: Gets all available Minecraft versions
      responses:
        200:
          description: The list of available Minecraft versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MinecraftVersionSummary'
  /minecraft-versions/version/{versionId}/:
    get:
      parameters:
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      operationId: getMinecraftVersionDetails
      description: Gets the details for a specific Minecraft version
      responses:
        200:
          description: Details about a specific Minecraft version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MinecraftVersionDetails'
  /minecraft-versions/version/{versionId}/version-manifest/:
    get:
      parameters:
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      operationId: getMinecraftVersionManifest
      description: Gets the Vanilla Launcher version manifest for this version.
      responses:
        200:
          description: The Vanilla Launcher version manifest for this version.
          content:
            application/json:
              schema:
                type: object
        307:
          description: The URL where the Vanilla Launcher version manifest is located.
          headers:
            Location:
              content:
                text/plain:
                  schema:
                    enum:
                      - http://dummy
  /neoforge-versions/:
    get:
      operationId: getNeoForgeVersions
      description: Gets all available NeoForge versions
      responses:
        200:
          description: The list of available NeoForge versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NeoForgeVersionSummary'
  /neoforge-versions/version/{versionId}/:
    get:
      parameters:
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      operationId: getNeoForgeVersionDetails
      description: Gets the details for a specific NeoForge version
      responses:
        200:
          description: Details about a specific NeoForge version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeoForgeVersionDetails'
  /neoforge-versions/version/{versionId}/launcher-manifest/:
    get:
      parameters:
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      operationId: getNeoForgeVersionLauncherManifest
      description: Gets the Vanilla Launcher version manifest for this NeoForge version.
      responses:
        200:
          description: The Vanilla Launcher version manifest for this version.
          content:
            application/json:
              schema:
                type: object
  /neoforge-versions/version/{versionId}/installer-profile/:
    get:
      parameters:
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      operationId: getNeoForgeVersionInstallerProfile
      description: Gets the profile used by the legacy installer for this NeoForge version.
      responses:
        200:
          description: The legacy installer profile for this version.
          content:
            application/json:
              schema:
                type: object
  /neoforge-versions/version/{versionId}/server-args-windows/:
    get:
      parameters:
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      operationId: getNeoForgeServerArgsWindows
      description: Gets the command line arguments for launching the server on Windows
      responses:
        200:
          description: The command line arguments for launching the server on Windows
          content:
            text/plain:
              schema:
                type: string
  /neoforge-versions/version/{versionId}/server-args-unix/:
    get:
      parameters:
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      operationId: getNeoForgeServerArgsUnix
      description: Gets the command line arguments for launching the server on Linux/Mac
      responses:
        200:
          description: The command line arguments for launching the server on Linux/Mac
          content:
            text/plain:
              schema:
                type: string
components:
  schemas:
    MinecraftVersionSummary:
      description: Summarizes an available Minecraft version
      type: object
      required:
        - version
        - type
        - released
        - last_modified
        - latest_neoforge_version
      additionalProperties: true
      properties:
        version:
          type: string
        type:
          description: The type of this version. Known types include `release` for normal releases, `snapshot` for previews and `experimental` for experimental releases, but may include more types in the future.
          type: string
        released:
          description: The timestamp when this version was released.
          format: date-time
          type: string
        last_modified:
          description: The timestamp when information about this version was last modified by the meta api.
          format: date-time
          type: string
        latest_neoforge_version:
          description: The latest available version of NeoForge for this Minecraft version. This property being non-null indicates that NeoForge has at least one version for this Minecraft version.
          type:
            - string
            - 'null'
    MinecraftVersionDetails:
      description: Details about a specific Minecraft version
      type: object
      required:
        - version
        - type
        - released
        - last_modified
        - javaVersion
      additionalProperties: true
      properties:
        version:
          type: string
        type:
          description: The type of this version. Known types include `release` for normal releases, `snapshot` for previews and `experimental` for experimental releases, but may include more types in the future.
          type: string
        released:
          description: The timestamp when this version was released.
          format: date-time
          type: string
        last_modified:
          description: The timestamp when information about this version was last modified by the meta api.
          format: date-time
          type: string
        javaVersion:
          description: The major Java version required to run this Minecraft version.
          type: integer

    NeoForgeVersionSummary:
      description: Summarizes an available NeoForge version
      type: object
      required:
        - version
        - released
        - last_modified
        - minecraft_version
      additionalProperties: true
      properties:
        version:
          type: string
        released:
          description: The timestamp when this version was released.
          format: date-time
          type: string
        last_modified:
          description: The timestamp when information about this version was last modified by the meta api.
          format: date-time
          type: string
        minecraft_version:
          description: The Minecraft version this NeoForge version is compatible with.
          type: string
    NeoForgeVersionDetails:
      description: Details about a specific NeoForge version
      allOf:
        - $ref: "#/components/schemas/SoftwareComponentVersionDetails"
        - type: object
          required:
            - minecraft_version
          additionalProperties: true
          properties:
            minecraft_version:
              description: The Minecraft version this NeoForge version is compatible with.
              type: string
    SoftwareComponentVersionDetails:
      description: Details about a specific version of a software component (which is identified by group and artifact id)
      type: object
      required:
        - group_id
        - artifact_id
        - version
        - released
        - last_modified
        - artifacts
        - release_notes
      additionalProperties: true
      properties:
        group_id:
          type: string
        artifact_id:
          type: string
        version:
          type: string
        released:
          description: The timestamp when this version was released.
          format: date-time
          type: string
        last_modified:
          description: The timestamp when information about this version was last modified by the meta api.
          format: date-time
          type: string
        artifacts:
          description: The artifacts available for this component version
          type: array
          items:
            $ref: "#/components/schemas/SoftwareComponentArtifact"
        release_notes:
          description: Describes the changes released in this version
          oneOf:
            - $ref: "#/components/schemas/ReleaseNotes"
            - type: 'null'
    SoftwareComponentArtifact:
      description: A single artifact that belongs to a software component version. Artifacts are unique identified within a version by their classifier and extension.
      type: object
      required:
        - classifier
        - extension
        - size
        - last_modified
        - url
        - md5_checksum
        - sha1_checksum
        - sha256_checksum
        - sha512_checksum
      additionalProperties: true
      properties:
        classifier:
          type:
            - string
            - 'null'
        extension:
          description: A null extension indicates the file has no file extension, not the usual Maven default of 'jar'.
          type:
            - string
            - 'null'
        size:
          type: integer
          format: int64
        last_modified:
          format: date-time
          type: string
        url:
          type: string
        md5_checksum:
          type: string
        sha1_checksum:
          type: string
        sha256_checksum:
          type: string
        sha512_checksum:
          type: string
    ReleaseNotes:
      description: Release notes for a software version
      type: object
      additionalProperties: true
      required:
        - text
        - markdown
      properties:
        text:
          type: string
        markdown:
          type: string

    ################################################################################################################
    # WEBHOOK PAYLOADS
    ################################################################################################################
    EventsPayload:
      description: Webhook payload that contains all occurred events in a list form.
      type: object
      additionalProperties: true
      required:
        - events
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/EventPayload"

    EventPayload:
      description: Webhook payload containing a single event.
      type: object
      discriminator:
        propertyName: type
        mapping:
          new_software_component_version: "#/components/schemas/NewSoftwareComponentVersionEventPayload"
          modified_software_component_version: "#/components/schemas/ModifiedSoftwareComponentVersionEventPayload"
          removed_software_component_version: "#/components/schemas/RemovedSoftwareComponentVersionEventPayload"
      required:
        - type
        - id
        - created
      properties:
        type:
          type: string
        id:
          type: string
          format: uuid
        created:
          type: string
          format: date-time

    SoftwareComponentVersionEventPayload:
      type: object
      required:
        - group_id
        - artifact_id
        - version
      properties:
        group_id:
          type: string
        artifact_id:
          type: string
        version:
          type: string

    NewSoftwareComponentVersionEventPayload:
      type: object
      allOf:
        - $ref: "#/components/schemas/SoftwareComponentVersionEventPayload"
        - $ref: "#/components/schemas/EventPayload"

    ModifiedSoftwareComponentVersionEventPayload:
      type: object
      allOf:
        - $ref: "#/components/schemas/SoftwareComponentVersionEventPayload"
        - $ref: "#/components/schemas/EventPayload"

    RemovedSoftwareComponentVersionEventPayload:
      type: object
      allOf:
        - $ref: "#/components/schemas/SoftwareComponentVersionEventPayload"
        - $ref: "#/components/schemas/EventPayload"

    SoftwareComponentsChangesPayload:
      description: Webhook payload that gives a condensed description of changes to multiple software components.
      type: object
      additionalProperties: true
      required:
        - components
      properties:
        components:
          type: array
          items:
            $ref: "#/components/schemas/SoftwareComponentChangesPayload"

    SoftwareComponentChangesPayload:
      description: Webhook payload that gives a condensed description of changes to a single software component.
      type: object
      additionalProperties: true
      required:
        - group_id
        - artifact_id
        - new_versions
        - modified_versions
        - removed_versions
      properties:
        group_id:
          type: string
        artifact_id:
          type: string
        new_versions:
          type: array
          items:
            type: string
        modified_versions:
          type: array
          items:
            type: string
        removed_versions:
          type: array
          items:
            type: string

    NeoForgeVersionChangesPayload:
      description: Webhook payload that gives a condensed description of new, modified or removed NeoForge versions.
      type: object
      additionalProperties: true
      required:
        - new_versions
        - modified_versions
        - removed_versions
      properties:
        new_versions:
          type: array
          items:
            type: string
        modified_versions:
          type: array
          items:
            type: string
        removed_versions:
          type: array
          items:
            type: string

    MinecraftVersionChangesPayload:
      description: Webhook payload that gives a condensed description of new, modified or removed Minecraft versions.
      type: object
      additionalProperties: true
      required:
        - new_versions
        - modified_versions
        - removed_versions
      properties:
        new_versions:
          type: array
          items:
            type: string
        modified_versions:
          type: array
          items:
            type: string
        removed_versions:
          type: array
          items:
            type: string
